<div class="banner hidden-xs hidden-sm"> <img src="assets/images/banner-long.jpg" alt="" class="img-responsive"></div>
<footer class="wow bounceInUp" data-wow-duration="2s">
  <div class="container">
    <div class="col-md-3 col-sm-6 footer-item"> <img src="assets/images/logo-no-line.jpg" alt="" class="img-responsive">
      <ul class="list-unstyled footer-icons">
        <li class="message">contact@leebros.us</li>
        <li  class="phone">+1 (00) 86 868 868 666 - 868 666 888</li>
      </ul>
      <div class="social-icons-2"> <a href="index.htm#" class="social fa fa-twitter" title="google-plus"></a> <a href="index.htm#" class="social fa fa-google-plus" title="google-plus"></a><a href="index.htm#" class="social fa fa-facebook fa-icon" title="google-plus"></a><a href="index.htm#" class="social fa fa-linkedin" title="Linkedin"></a> <a href="index.htm#" class="social fa fa-pinterest" title="Pinterest"></a></div>
    </div>
    <div class="col-md-2 col-sm-3 footer-item">
      <p class="font-15 font-bold text-uppercase">Help</p>
      <ul class="list-unstyled footer-links">
        <li> <a href="index.htm#">Orders & Returns</a> </li>
        <li> <a href="index.htm#">Search Terms</a> </li>
        <li> <a href="index.htm#">Advance Search</a> </li>
        <li> <a href="index.htm#">Affiliates</a> </li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-3 footer-item">
      <p class="font-15 font-bold text-uppercase">My Account</p>
      <ul class="list-unstyled footer-links">
        <li> <a href="index.htm#">About Us</a> </li>
        <li> <a href="index.htm#">Delivery Information</a> </li>
        <li> <a href="index.htm#">Privacy & Policy</a> </li>
        <li> <a href="index.htm#">Terms & Conditions</a> </li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-6 footer-item">
      <p class="font-15 font-bold text-uppercase">Information</p>
      <ul class="list-unstyled footer-links">
        <li> <a href="index.htm#">About Us</a> </li>
        <li> <a href="index.htm#">Delivery Information</a> </li>
        <li> <a href="index.htm#">Privacy & Policy</a> </li>
        <li> <a href="index.htm#">Terms & Conditions</a> </li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6 footer-item">
      <p class="font-15 font-bold text-uppercase">newsleeter</p>
      <ul class="list-unstyled footer-links">
        <li> <a href="index.htm#">Sign up  with your email to get updates!</a> </li>
      </ul>
      <br>
      <div class="input-group search">
        <input type="text" placeholder="Type your email" class="form-control">
        <span class="input-group-btn">
        <button type="button" class="btn btn-default">Go</button>
        </span> </div>
      <!-- /input-group --> 
      
    </div>
  </div>
</footer>