<div class="below-footer clearfix">
  <div class="container">
    <p class=" pull-left font-14">Copyright &copy; 2015 <span class="pink">Leebros.</span> </p>
    <div class="pull-right">
      <ul class="list-unstyled list-inline">
        <li><a href="index.htm#"><img src="assets/images/visa.png" alt=""></a></li>
        <li><a href="index.htm#"><img src="assets/images/card.png" alt=""></a></li>
        <li><a href="index.htm#"><img src="assets/images/discover.png" alt=""></a></li>
        <li><a href="index.htm#"><img src="assets/images/american.png" alt=""></a></li>
        <li><a href="index.htm#"><img src="assets/images/paypal.png" alt=""></a></li>
      </ul>
    </div>
  </div>
</div>
