<div class="container">
  <div class="pro-sec clearfix wow bounceInUp" data-wow-duration="2s">
    <div class="col-md-3 col-sm-3 ">
      <div class="row"> 
        <!-- Carousel -->
        <div id="carousel-example-generic-3" class="carousel slide" data-ride="carousel"> 
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic-3" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic-3" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic-3" data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="black-bg">
                <p class="font-25 font-bold text-uppercase">Best Selling 
                  Products</p>
                <p class="font-13">Lorem ipsum dolor sit amet conse ctetur adipiscing elit. Sed luctus as cu id nibh scelerisque.</p>
                <p><a href="index.htm#" class="view text-uppercase">View all products</a></p>
              </div>
            </div>
            <div class="item">
              <div class="black-bg">
                <p class="font-25 font-bold text-uppercase">Best Selling 
                  Products</p>
                <p class="font-13">Lorem ipsum dolor sit amet conse ctetur adipiscing elit. Sed luctus as cu id nibh scelerisque.</p>
                <p><a href="index.htm#" class="view text-uppercase">View all products</a></p>
              </div>
            </div>
            <div class="item">
              <div class="black-bg">
                <p class="font-25 font-bold text-uppercase">Best Selling 
                  Products</p>
                <p class="font-13">Lorem ipsum dolor sit amet conse ctetur adipiscing elit. Sed luctus as cu id nibh scelerisque.</p>
                <p><a href="index.htm#" class="view text-uppercase">View all products</a></p>
              </div>
            </div>
          </div>
        </div>
        <!-- /carousel --> 
      </div>
    </div>
    <div class="pro-item col-md-3 col-sm-3 "> <img src="assets/images/s-2.jpg" alt="" class="img-responsive">
      <p class="font-15">Solo Bag In Natural</p>
      <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
      <div class="clearfix"> <a class="cart" href="index.htm#">add to cart</a> </div>
    </div>
    <div class="pro-item col-md-3 col-sm-3 "> <img src="assets/images/s-3.jpg" alt="" class="img-responsive">
      <p class="font-15">Solo Bag In Natural</p>
      <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
      <div class="clearfix"> <a class="cart" href="index.htm#">add to cart</a> </div>
    </div>
    <div class="pro-item col-md-3 col-sm-3 "> <img src="assets/images/s-4.jpg" alt="" class="img-responsive" >
      <p class="font-15">Solo Bag In Natural</p>
      <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
      <div class="clearfix"> <a class="cart" href="index.htm#">add to cart</a> </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row wow home-1 bounceInLeft hidden-sm hidden-xs" data-wow-duration="2s">
    <div class="col-md-6 col-sm-12"> <img src="assets/images/b-4.jpg" alt="" class="img-responsive hvr-float" style="height:332px;"></div>
    <div class="col-md-3 col-sm-3">
      <div class="row">
        <ul class="list-unstyled man-li">
          <li><img src="assets/images/b-7.jpg" alt="" class="img-responsive hvr-float"></li>
          <li><img src="assets/images/b-9.jpg" alt="" class="img-responsive hvr-float"></li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 last-item">
      <div class="row"> <img src="assets/images/b-5.jpg" alt="" class="img-responsive hvr-float"></div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="timer-sec">
    <div class="row wow bounceInRight" data-wow-duration="2s">
      <div class="col-md-3 col-sm-12">
        <div class="row">
          <div class="col-xs-12">
            <div class="feature">
              <p class="font-18 text-uppercase deals"><span class="font-bold">Supper</span> deals</p>
            </div>
          </div>
        </div>
        <div class="pro-item">
          <div class="counter-timer">
            <ul class="list-unstyled">
              <li>
                <div id="daysBox" class="font-bold font-16">15</div>
                Days </li>
              <li>
                <div id="hoursBox" class="font-bold font-16">8</div>
                Hours </li>
              <li>
                <div id="minsBox" class="font-bold font-16">0</div>
                Minutes </li>
              <li>
                <div id="secsBox" class="font-bold font-16">35</div>
                Seconds </li>
            </ul>
          </div>
          <div class=""> <img src="assets/images/b-14.jpg" alt="" class="img-responsive" ><br>
            <p class="font-15">Solo Bag In Natural</p>
            <img src="assets/images/star-rating.png" alt="" class="img-responsive mar-bot-7">
            <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-12">
        <div class="row">
          <div class="col-xs-12 clearfix">
            <div class="feature clearfix">
              <p class="font-18 text-uppercase deals pull-left"><span class="font-bold">Feature</span> products</p>
              <ul role="tablist" class="tab-links pull-right list-inline" id="myTab">
                <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="index.htm#home">Women<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class=""><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="index.htm#profile" aria-expanded="false"> Men<span class="slash-spacing">/</span></a></li>
                <li class="active" role="presentation"><a aria-expanded="true" aria-controls="acc" data-toggle="tab" role="tab" id="acc-tab" href="index.htm#acc"> Accessories<span class="slash-spacing">/</span></a></li>
                <li class="active" role="presentation"><a aria-expanded="true" aria-controls="kids" data-toggle="tab" role="tab" id="kids-tab" href="index.htm#kids"> Kids</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
          <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="assets/images/b-1.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="index.htm#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="assets/images/b-13.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="index.htm#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="assets/images/b-12.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="index.htm#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="assets/images/b-3.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="index.htm#" class="cart">add to cart</a> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="assets/images/b-15.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="index.htm#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="assets/images/b-16.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="index.htm#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="assets/images/b-17.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="index.htm#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="assets/images/b-18.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="index.htm#" class="cart">add to cart</a> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="kids" aria-labelledby="kids-tab">
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="assets/images/b-26.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="index.htm#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="assets/images/b-25.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="index.htm#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="assets/images/b-24.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="index.htm#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="assets/images/b-23.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="index.htm#" class="cart">add to cart</a> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="acc" aria-labelledby="acc-tab">
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="assets/images/b-19.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="index.htm#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="assets/images/b-20.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="index.htm#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="assets/images/b-21.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="index.htm#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="assets/images/b-22.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="index.htm#" class="cart">add to cart</a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>